

/* 상단 -UI 영역 */
.visualwrap{
	width:100%;
	height:697px;
	margin:0 auto;
	background-image:url("../images/business-3167295_1280.jpg");
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:cover;
}
.visual{
	position:relative;
	width:420px;
	height:53px;
	margin:0 auto;
}
.visual p{
	position:absolute;
	top:388px;
    right:28px;
	color:#101e3c;
	font-size:43px;
	font-family:'Myriad Pro';
	font-weight:bold;
	text-align:center;
}
.visual .text span{
	position:relative;
	top:450px;
	display:inline-block;
	float:left;
	font-size:21px;
	font-family:'MalgunGothic';
	text-align:center;
	width:422px;
}
/* 레이아웃 - 중단 영역 */
.sectionwrap{
	width:100%;
	background:white;
}
.section{
	width:1100px;
	margin:0 auto;
	background:#fff;
}
/* 중단 - UI 영역 */
.quickmenu{
	display:table;
	width:100%;
}
.quickmenu::after{
	content:"";
	display:block;
	clear:both;
}
.quickmenu p{
	display:table-cell;
	width:275px;
	height:232px;
	border:1px solid #ddd;
	border-left-width:0;
	border-bottom-width:0;
	font-size:14px;
	text-align:center;
	vertical-align:middle;
}
.quickmenu p:first-child{
	border-left-width:1px;
}
.quickmenu span{
	display:block;
	margin:10px 0 0;
}
.article{
	display:table;
	width:100%;
	height:248px;
}
.atricle::after{
	content:"";
	display:block;
	clear:both;
}
.article > div{
	display:table-cell;
	position:relative;
	width:275px;
	height:249px;
	padding:30px 25px;
	border:1px solid #ddd;
	border-left-width:0;
	border-bottom-width:0;
}
.article > div:first-child{
	border-left-width:1px;
}
.article > div::after{
	content:"";
	display:block;
	clear:both;
}
.atricle > div h2{
	font-size:14px;
	font-family:'Gulim';
}
.article > div ul{
	margin:35px 0;
}
.article > div li{
	margin:10px 0;
}
.article > div li a{
	overflow:hidden;
	display:block;
	width:100%;
	font-size:12px;
	font-family:'Dotum';
	color:#666;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-decoration:none;
}
.article > div li a:hover{
	text-decoration:underline;
}
.article > div .btn-more{
	position:absolute;
	top:30px;
	right:25px;
	font-size:11px;
	font-family:'Dotum';
	color:#666;
}
.article > div .btn-more:hover{
	text-decoration:underline;
}
.article .notice h2{
	
}
.article .notice ul{
	
}
.article .notice li{
	
}
.article .notice li a{
	
}
.article .qna{
	
}
.article .qna h2{
	
}
.article .qna ul{
	
}
.article .qna li{
	
}
.article .qna li a{
	
}
.article .gallery{
	position:relative;
	width:548px;
}
.article .gallery h2{
	
}
.article .gallery .bg{
	margin:40px auto;
}
.article .gallery .bg img{
	width:80px;
	height:80px;
	margin:0 20px;
	border-radius:50%;
}
