/*reset  */
*,*::before,*::after{margin:0;padding:0;list-style:none;border:0;color:#000000;font-size:13px;font-family:'Apple SD Gothic Neo',Applegothic,'Malgun Gothic','맑은 고딕',Dotum,'돋움',Arial, Verdana, sans-serif;font-weight:500;text-decoration:none;box-sizing:border-box;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.tts{
	overflow:hidden;
	position:absolute;
	top:-9999em;
	width:1px;
	height:1px;
	line-height:1;
}
/* Layout */
/* 레이아웃 -상단 영역 */
.wrap{
	width:100%;
	margin:0 auto;
}
.headerwrap{
	position:fixed;
	top:0;
	left:0;
	z-index:1;
	width:100%;
	height:90px;
	background:rgba(255,215,0,0.5);
}
.header{
	width:1100px;
	height:90px;
	margin:0 auto;
}
h1 a{
	float:left;
	display:block;
	font-size:30px;
	text-align:center;
	width:95px;
	margin-top:15px;
	padding-left:23px;
	color:rgb(95,0,255);         
}
h1 a:hover{
	color:rgb(105,80,76);
}
/* 상단 -매뉴 영역 */
.nav{
	display:block;
	text-align:center;
 }
.nav ul{
	position:absolute;
	top:35px;
	left:1000px;
	display:block;
	text-align:center;
 }
.nav li{
	display:inline-block;
}
.nav a {
	display:block;
	text-align:center;
	font-size:16px;
	font-family:"Malgun Gothic";
	margin-left:50px;
	color:rgb(0,0,0);
}
.nav a:hover{
	border-bottom:3px solid rgb(255,0,0);
	background:rgb(43,104,167);
	color:rgb(255,255,255);
}
/* 중간 -레이아웃 영역*/
.section{
	width:100%;
	height:694px;
	background-image:url("../images/IiNfJSm5w7UVGyyvdvw9Tcizleug.jpg");
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:cover;
	margin-bottom:10px;
	border:2px solid rgb(0,0,0);
}
.section h1{
	position:relative;
	top:389px;
	left:60px;
	text-align:left;
	font-size:40px;
	color:rgb(255,255,255);
}
/* 프로빌 영역 */
.profile{
	width:100%;
	height:694px;
	border:1px solid rgb(134,134,137);
	border-top:3px solid rgb(0,118,68);
	margin-bottom:10px;
}
.profile h2{
	position:absolute;
	top:723px;
	left:965px;
	font-size:25px;
}
/* 포트폴리오 영역 */
.plr{
	width:100%;
	height:694px;
	border:1px solid rgb(134,134,137);
	border-top:3px solid rgb(191,255,0);
	margin-bottom:10px;
}
/* 기술 영역 */
.skill{
	width:100%;
	height:694px;
	border:1px solid rgb(134,134,137);
	border-top:3px solid rgb(95,0,255);
}
/* 하단 -레이아웃 영역*/
.footer{
	width:100%;
	height:100px;
	background:rgb(115,209,247);
}