*{
	margin:0;
	padding:0;
	border:0;
	font-family:'맑은 고딕';
	font-size:13px;
	list-style:none;
	text-decoration:none;
	box-sizing:border-box;
}
.wrap{
	width:100%;
	margin:0 auto;
	background:rgba(255,255,255);
}
/* 상단 레이이웃 영역 */
.headewrap{
	width:100%;
	margin:0 auto;
	background:rgba(255,255,255);
}
.header{
	position:relative;
	width:1000px;
	height:105px;
	margin:0 auto;
	text-align:center;
}
.header .logo{
	padding-top:35px;
}
.tnb{
	position:absolute;
	top:5px;
	right:15px;
	color:rgba(111,110,106);
}
.tnb li{
	display:inline-block;
}
.header .bn{
	position:absolute;
	top:26px;
	left:28px;
}
.qs{
	position:absolute;
	top:35px;
	right:0;
	width:226px;
	height:30px;
	border:1px solid rgba(233,233,233);
	border-radius:25px;
}
.qs input{
	width:180px;
	height:28px;
	padding:5px 10px;
	border:0;
}
.qs a{
	position:absolute;
	top:5px;
    right:5px;
	width:20px;
	height:20px;
}
/* 상단 UI 영역 */
.nav{
	position:fixed;
	width:100%;
	height:60px;
	background:rgba(57,81,57);
	z-index:1;
}
.nav > ul{
	width:1000px;
	margin:0 auto;
}
.nav > ul > li{
	position:relative;
	top:-42px;
	left:251px;
	display:inline-block;
	text-align:left;
	color:#646567;
	padding:4px;
}
.nav li a{
	font-size:17px;
	color:rgba(246,255,245);
	padding:15px;
}
.sm > div > a > img{
	position:absolute;
	top:105px;
    left:451px;
	width:219px;
	height:60px;
}
/* 중단 레이아웃 영역 */
.section{
	width:1001px;
	height:2924px;
	margin:0 auto;
	background:rgba(255,0,255);
}

/* 하단 레이아웃 영역 */
.footerwrap{
	width:100%;
	height:148px;
	margin:0 auto;
	background:rgba(41,49,38);
}